<div class="card-container">
    <ul>
        <li><app-dashboard-card [background_color]="'#ed7c31'" [info]="'Sessions'" [nbr]="nbrSessions" [imgSrc]="'assets/sessions.png'"></app-dashboard-card><li>
        <li><app-dashboard-card [background_color]="'#00b04f'" [info]="'Participants'" [nbr]="nbrParticipants" [imgSrc]="'assets/participants.png'"></app-dashboard-card><li>
        <li><app-dashboard-card [background_color]="'#7030a0'" [info]="'Formateurs'" [nbr]="nbrFromateurs" [imgSrc]="'assets/formateurs.png'"></app-dashboard-card><li>
    </ul>
</div>